{% extends 'wrapper.html' %}
{% load static %}


{% block content %}
	
    
    <div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    
			    <h1 class="app-page-title">{{object.user.first_name}}ning profili</h1>
                <div class="row gy-4">
	                <div class="col-12 col-lg-6">
		                <div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
						    <div class="app-card-header p-3 border-bottom-0">
						        <div class="row align-items-center gx-3">
							        <div class="col-auto">
								        <h4 class="app-card-title">Ma'lumotlari</h4>
							        </div><!--//col-->
                                    <div class="col-auto">
                                        <a href="" class="btn btn-secondary">Postlari</a>
                                    </div>
                                    <div class="col-auto">
                                        <a href="" class="btn btn-primary">Kuzatish</a>
                                    </div>
						        </div><!--//row-->
						    </div><!--//app-card-header-->
						    <div class="app-card-body px-4 w-100">
							    <div class="item border-bottom border-top py-3">
								    <div class="row justify-content-between align-items-center">
									    <div class="col-auto">
										    <div class="item-label mb-2"><strong>Rasmi</strong></div>
											
											{% if object.avatar %}
												<div class="item-data"><img class="avatar" src="{{object.avatar.url}}" alt=""></div>
												{% else %}
												<div class="item-data"><img class="avatar" src="/static/assets/user.png" alt=""></div>
											{% endif %}
									    </div><!--//col-->
									    <div class="col text-right">
										    
									    </div><!--//col-->
								    </div><!--//row-->
							    </div><!--//item-->
							    <div class="item border-bottom py-3">
								    <div class="row justify-content-between align-items-center">
									    <div class="col-auto">
										    <div class="item-label"><strong>Ismi</strong></div>
									        <div class="item-data">{{object.user.first_name}}</div>
									    </div><!--//col-->
									    <div class="col text-right">
										    
									    </div><!--//col-->
								    </div><!--//row-->
							    </div><!--//item-->
							    <div class="item border-bottom py-3">
								    <div class="row justify-content-between align-items-center">
									    <div class="col-auto">
										    <div class="item-label"><strong>Familiyasi</strong></div>
									        <div class="item-data">{{object.user.last_name}}</div>
									    </div><!--//col-->
									    <div class="col text-right">
										    
									    </div><!--//col-->
								    </div><!--//row-->
							    </div><!--//item-->
							    <div class="item border-bottom py-3">
								    <div class="row justify-content-between align-items-center">
									    <div class="col-auto">
										    <div class="item-label"><strong>Email</strong></div>
									        <div class="item-data">{{object.user.email}}</div>
									    </div><!--//col-->
									    <div class="col text-right">
										    
									    </div><!--//col-->
								    </div><!--//row-->
							    </div><!--//item-->
								<div class="item border-bottom py-3">
								    <div class="row justify-content-between align-items-center">
									    <div class="col-auto">
										    <div class="item-label"><strong>Telefon no.</strong></div>
									        <div class="item-data">{{object.phone}}</div>
									    </div><!--//col-->
									    <div class="col text-right">
										    
									    </div><!--//col-->
								    </div><!--//row-->
							    </div><!--//item-->
							    <div class="item border-bottom py-3">
								    <div class="row justify-content-between align-items-center">
									    <div class="col-auto">
										    <div class="item-label mb-3"><strong>Sahifalar</strong></div>
									        <div class="item-data d-flex">
										        <h6 class="mr-3"><a href="https://github.com/{{object.github}}"><span class="fab fa-github"></span>GitHub</a></h6>
												<h6><a href="https://t.me/{{object.telegram}}"><span class="fab fa-telegram"></span>Telegram</a></h6>
									        </div>
									    </div><!--//col-->
									    <div class="col text-right">
										    
									    </div><!--//col-->
								    </div><!--//row-->
							    </div><!--//item-->
							    <div class="item border-bottom py-3">
								    <div class="row justify-content-between align-items-center">
									    <div class="col-auto">
										    <div class="item-label"><strong>Yashash joyi</strong></div>
									        <div class="item-data">
										        {{object.place}}
									        </div>
									    </div><!--//col-->
									    <div class="col text-right">
										    
									    </div><!--//col-->
								    </div><!--//row-->
							    </div><!--//item-->
								<div class="item border-bottom py-3">
								    <div class="row justify-content-between align-items-center">
									    <div class="col-auto">
										    <div class="item-label"><strong>Tug'ilgan kuni</strong></div>
									        <div class="item-data">
										        {{object.birth}}
									        </div>
									    </div><!--//col-->
									    <div class="col text-right">
										    
									    </div><!--//col-->
								    </div><!--//row-->
							    </div><!--//item-->
						    </div><!--//app-card-body-->
						   
						</div><!--//app-card-->
	                </div><!--//col-->
	                <div class="col-12 col-lg-6">
				        <div class="app-card app-card-progress-list h-100 shadow-sm">
					        <div class="app-card-header p-3">
						        <div class="row justify-content-between align-items-center">
							        <div class="col-auto">
						                <h4 class="app-card-title">Bilim darajasi</h4>
							        </div><!--//col-->
						        </div><!--//row-->
					        </div><!--//app-card-header-->
					        <div class="app-card-body">
							    <div class="item p-3">
								    <div class="row align-items-center">
									    <div class="col">
										    <div class="title mb-1 ">Python</div>
										    <div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: {{object.python}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
									    </div><!--//col-->
									    <div class="col-auto">
										    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg>
									    </div><!--//col-->
								    </div><!--//row-->
								    
							    </div><!--//item-->
							    
							    
							     <div class="item p-3">
								    <div class="row align-items-center">
									    <div class="col">
										    <div class="title mb-1 ">Javascript</div>
										    <div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: {{object.js}}%;" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
</div>
									    </div><!--//col-->
									    <div class="col-auto">
										    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg>
									    </div><!--//col-->
								    </div><!--//row-->
								    
							    </div><!--//item-->
							    
							    <div class="item p-3">
								    <div class="row align-items-center">
									    <div class="col">
										    <div class="title mb-1 ">PHP</div>
										    <div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: {{object.php}}%;" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>
</div>
									    </div><!--//col-->
									    <div class="col-auto">
										    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg>
									    </div><!--//col-->
								    </div><!--//row-->
								    
							    </div><!--//item-->
							    
							    <div class="item p-3">
								    <div class="row align-items-center">
									    <div class="col">
										    <div class="title mb-1 ">Java</div>
										    <div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: {{object.java}}%;" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100"></div>
</div>
									    </div><!--//col-->
									    <div class="col-auto">
										    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg>
									    </div><!--//col-->
								    </div><!--//row-->
							    </div><!--//item-->

								<div class="item p-3">
								    <div class="row align-items-center">
									    <div class="col">
										    <div class="title mb-1 ">C++, C#, C</div>
										    <div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: {{object.c}}%;" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100"></div>
</div>
									    </div><!--//col-->
									    <div class="col-auto">
										    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg>
									    </div><!--//col-->
								    </div><!--//row-->
								    
							    </div><!--//item-->
								
								{% if object.bio %}
								<div class="item p-3">
									<h4 class="app-card-title m-3">Biografiya</h4>
									<hr><p>{{object.bio|safe}}</p>
								</div>
								{% endif %}
									
								{% if object.edu %}
								<div class="item p-3">
									<h4 class="app-card-title m-3">Ta'lim joyi</h4>
									<hr><b>Boshlagan sanasi: {{object.edu_date}}</b><p>{{object.edu|safe}}</p>
								</div>
								{% endif %}
								
								{% if object.work %}
								<div class="item p-3">
									<h4 class="app-card-title m-3">Kasbi</h4>
									<hr><b>Boshlagan sanasi: {{object.work_date}}</b><p>{{object.work|safe}}</p>
								</div>
								{% endif %}
								
		
					        </div><!--//app-card-body-->
				        </div><!--//app-card-->
			        </div><!--//col-->
	                
                </div><!--//row-->
			    
		    </div><!--//container-fluid-->
	    </div><!--//app-content-->
	    
	{% endblock content %}

